/* General styling (all documents) */
* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


.btn-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 0.3em;
}

.btn-primary:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
/* END OF General styling */


/* Home (AutoIngredientSearch component) */
#search-component{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

#ingredient-search {
  display: flex;
  flex-direction: column;
}

#ingredient-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

#ingredient-form label {
  position: absolute;
  top: -15px;
  left: 0px;
  font-size: 16px;
  color: #367af6;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

#ingredient-form input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 25px;
}

#ingredient-form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

::-webkit-input-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

::-moz-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

:-ms-input-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

::-ms-input-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

::placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

.error-msg {
  color: #e74c3c;
  font-size: 1.1em;
  margin: 0 0 .5em 0;
  line-height: 1;
  text-align: center;
  height: 30px;
  margin: 0.6rem 0;
}

/* #ingredient-form input:valid ~ label */
#ingredient-form input:focus ~ label {
  top: -10px;
  font-size: 12px;
}

#ingredients-tags {
  height: 30px;
  margin: 0.6rem 0;
}

.ingredient-tags-item {
  background-color: rgba(102, 126, 234, 0.1);
  border-radius: 0.5rem;
  padding: 3px 5px;
  margin-right: 10px;
  text-align: center;
  color: #367af6;
  /* color: rgb(67, 65, 144); */
  font-size: 0.9rem;
}

.x-btn {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Recipes Grid results */
#recipes-grid {
  margin: auto;
  width: 90vw;
  -ms-grid: grid;
  display: grid;
  -ms-grid-columns: repeat(auto-fit, minmax(312px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  margin-top: 2.8em;
}

#recipe-link {
  width: 314px;
  margin: auto;
}

#recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  border: 1px solid #4b91f7;
}

#recipe-title {
  background-color: #3c81f65c;
  width: 312px;
  height: 95px;
  text-align: center;
  padding: 0.5em 0.3em;
}

#recipe-image {
  width: 312px;
  height: 231px
}
/* END OF Recipes Grid results */

/* END OF AutoIngredientSearch Component */

/* Header component */
header {
  margin: 1em;
  background-color: #ECF3FF; /* #f4f4f4; */
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 0 10px #7599ff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1em;
  box-shadow: 0px 0px 8px 1px #08ce01;
}

header h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #5757d8;
  font-family: 'Courier New', Courier, monospace;
}

header nav {
  flex: auto
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 1em;
  padding: 0 .5em;
}

ul li a {
  text-decoration: none;
  color: #4b91f7;
}

ul li a:hover {
  color: #e74c3c
}
/* END OF Header component */

/* Register component */
#register-component {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

#register-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

#register-form .input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

#register-form label {
  position: absolute;
  top: -15px;
  left: 0px;
  font-size: 16px;
  color: #367af6;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

#register-form input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 25px;
}

#register-form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

#register-form input:focus ~ label {
  top: -10px;
  font-size: 12px;
}

.register-input::-webkit-input-placeholder {
  font-size:1.2em;
}

.register-input::-moz-placeholder {
  font-size:1.2em;
}

.register-input:-ms-input-placeholder {
  font-size:1.2em;
}

.register-input::-ms-input-placeholder {
  font-size:1.2em;
}

.register-input::placeholder {
  font-size:1.2em;
}

::-webkit-input-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

::-moz-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

:-ms-input-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

::-ms-input-placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

::placeholder {
  color: #e74c3c;
  font-size: 1.2em;
}

#info-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -12px;
  left: 70px;
}

.x-btn-modal {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1rem;
    border: 1px dashed deepskyblue;
    padding: 0 0.4em;
    margin: 0.3em;
    box-shadow: 5px 3px 15px -4px #4b91f7, -5px -3px 15px -4px #367af6;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#register-component ul {
  padding: 0;
}

/* END OF Register component */

/* Login Component */

#login-component {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}

#login-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

#login-form .input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

#login-form label {
  position: absolute;
  top: -15px;
  left: 0px;
  font-size: 16px;
  color: #367af6;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

#login-form input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 25px;
}

#login-form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

#login-form input:focus~label {
  top: -10px;
  font-size: 12px;
}

.login-input::placeholder {
  font-size: 1.2em;
}
/* END of Login Component */

/* ResetPassword component */
.reset-password-btn {
  width: 100%;
}

#reset-password-form {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
}

#reset-password-form .input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

#reset-password-form label {
  position: absolute;
  top: -15px;
  left: 0px;
  font-size: 16px;
  color: #367af6;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

#reset-password-form input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 25px;
}

#reset-password-form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

#reset-password-form input:focus~label {
  top: -10px;
  font-size: 12px;
}
/* END OF ResetPassword component */

/* Recipe Page component */

#recipe-page {
  position: relative;
}

#save-success-message {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px;
  background-color: #d8f7d8;
}

#recipe-info {
  margin-top: 50px;
  padding-top: 37px;
}

#recipe-info-image {
  width: 100%;
  max-width: 556px;
  border-radius: 32px;
  border: 3px solid #d9d9d9;
}

#recipe-info-cooking {
  display: flex;
  margin: 23px auto;
  justify-content: space-around;
  width: 100%;
  max-width: 575px;
}

#recipe-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #d9d9d9;
  padding-bottom: 25px;
  max-width: 703px;
  margin: auto;
}

#recipe-save-btn {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Roboto',
  sans-serif;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
  inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 0.3em;
  font-weight: 600;
}

#recipe-save-btn:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
  0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
  0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

#recipe-save-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
  0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
  0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.recipe-data {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.recipe-data-text {
  margin-left: 5px;
}

#recipe-summary-wrapper {
  width: 80%;
  margin: auto;
}

#recipe-details {
  max-width: 983px;
  margin: 0 20px 0 46px;
}


#recipe-ingredients-subheading {
  border-bottom: solid 2px rgb(226, 221, 204);
  padding-bottom: 7.5px;
}

#recipe-steps-subheading {
  border-bottom: solid 2px rgb(226, 221, 204);
  padding-bottom: 7.5px;
}

.recipe-list-item {
  margin-bottom: 15px;
}

@media (min-width: 1500px) {
  #recipe-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  #recipe-main {
    margin: 0;
  }
}

/* END OF Recipe Page component */

/* Saved Recipes Component */

#saved-recipes {
  margin: auto;
  width: 90%;
  -ms-grid: grid;
  display: grid;
  -ms-grid-columns: repeat(auto-fit, minmax(312px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
}

#save-recipes-heading {
  text-align: center;
}

#saved-recipe-link {
  text-decoration: none;
  width: 309px;
  margin: auto;
}

#saved-recipe {
  height: 263px;
  width: 309px;
  border-radius: 65px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#saved-recipe-title {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 11em;
}

/* END of Saved Recipes Component */